################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibreriaEstructuras/.vs/LibreriaEstructuras/v16/Browse.VC.opendb
